.header {
  color: white;
  margin-bottom: $s-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $xl-size;
  font-weight: 300;
  margin: 0;
}

.header__subtitle {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: $m-size;
  font-weight: 300;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $m-size;
  }
  .header__title {
    font-size: 6.8rem;
  }
  .header__subtitle {
    font-size: $l-size;
  }
}