// Colors
$off-black: #373C53;
$dark-blue: #0E276B;
$blue: #1F397E;
$light-blue: #E9ECF5;
$off-white: #9D9EA9;
$purple: #F1554C;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;